<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="app">
    <!-- {{}} 内部不适合放太复杂的程序 -->
    <!-- 使用方法每当一个数据改变时,模板所有的函数都执行了一遍 -->
    姓: <input type="text" v-model="xing" ><hr>
    名: <input type="text" v-model="ming"><hr>
    <!-- 姓名: <span>{{ xing }} - {{ ming }}</span> -->
    <span>{{ hehe() }}</span>
    <!-- 姓名: <span>{{ getX() }} - {{ getM() }}</span> -->

    姓名: <span>{{ getx }} - {{ getY }}</span>
    姓名: <span>{{ getx }} - {{ getY }}</span>
    姓名: <span>{{ getx }} - {{ getY }}</span>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const vm = new Vue({
      el: ".app",
      data: {
        xing: '张',
        ming: '三'
      },
      computed: {
        // get 初次调用的时候触发,所依赖的数据发生改变的时候调用
        // 底层借助了Object.defineProperty的getter 和setter
        // computed只用于获取数据,更改数据用methods,所以set可以不用写,然后shegnlue为
        // getx: {
        //   get: function () {
        //     console.log('w')
        //     return this.xing
        //   },
        //   set: function (value) {
        //     this.xing = value
        //   }
        // },
        getx () {
          return this.xing
        },
        getY: function () {
          return this.ming
        }
      },
      methods: {
        getX () {
          console.log('wozhixingle')
          return this.xing
        },
        getM () {
          console.log('woyouzhixingle')
          return this.ming
        },
        hehe () {
          console.log('我执行了吗')
        }
      }
    })
    

  </script>
  
</body>
</html>